

.item_head a{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    color: mediumseagreen;
    transition: 0.3s;
}
.item_head a:hover{
   text-decoration-line: revert;

}

.item_lin{
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    color: #333333;
}
.item_lin:hover{
   
    color: #2ca612;
}
.podmenu{
    position: absolute;
    text-align: center;
    margin: auto;
    margin-top: auto;
    left: 0px;
    right: 0;
    z-index: 1000;
    background-color: #ffffff;
}